header{
        color: white;
        text-align: center;
        background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(20,20,162,1) 36%, rgba(0,212,255,1) 99%);
        
      
}
#heading_student{
        background: white;
        color: rgba(20,20,162,1);
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:rgba(20,20,162,1); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d4f3ff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(20,20,162,1);
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
  }
  
  .openbtn:hover {
    background-color:#d4f3ff;
    color: rgba(20,20,162,1);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding-left: 0px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }





@media only screen and (max-width: 835px)
{
#heading{
            font-size: 30px;
}
}
@media only screen and (max-width: 415px)
{
#heading{
            font-size: 25px;
}
/*.table-bordered td, .table-bordered th{
          font-size: 25px;
}*/
.PASS{
        font-size: 15px;
}
.FAIL{
        font-size: 15px;
}

}


#body_intro{
        background: rgba(20,20,162,1);
        color: white;
        text-align: center;
}

.table_header{
        background:  rgba(20,20,162,1);
        color: white;
}

.PASS{
  height: 30px;
  width: 100%;
  background-color: #00ff55;
  margin: 10px  0px 10px 0px;
  padding: 5px;
  
}
.FAIL{
height: 30px;
width: 100%;
background-color: #ff3b3b;
margin: 10px 0px 10px 0px;
padding: 5px;
}

.table td, .table th{

      padding: 10px!important;
}

@media only screen and (max-width: 446px)
{
.table td, .table th{

    padding: 5px!important;
}
}

.F{
    background-color: #ff3b3b;
}

.A{
    background-color:  #00ff55;
}

.table-bordered td, .table-bordered th{
          text-align: center;
}
#borderimg2 { 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 stretch;
}
